@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }
 
  .dark {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: #02AAB0;

    --background: 193 63.699999999999996% 2.8%;
    --foreground: 193 9.8% 96.75%;

    --muted: 193 49% 10.5%;
    --muted-foreground: 193 9.8% 53.5%;

    --popover: 193 45.4% 4.55%;
    --popover-foreground: 193 9.8% 96.75%;

    --card: 193 45.4% 4.55%;
    --card-foreground: 193 9.8% 96.75%;

    --border: 193 49% 10.5%;
    --input: 193 49% 10.5%;

    --primary: 193 98% 35%;
    --primary-foreground: 193 9.8% 96.75%;

    --secondary: 193 49% 10.5%;
    --secondary-foreground: 193 9.8% 96.75%;

    --accent: 193 49% 10.5%;
    --accent-foreground: 193 9.8% 96.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 193 9.8% 96.75%;

    --ring: 193 98% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-gradient { 
    background: var(--gradient) 
  }

  .character_name {
    /* -webkit-text-stroke: 0.2px hsl(var(--primary)); */
    /* -webkit-text-stroke-width: 2px; */
    /* -webkit-text-stroke-color: black; */
  }


  .card-new::before,
  .card-new::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* @apply bg-gradient-to-r from-primary to-secondary; */
    /* @apply bg-accent; */
    background-color: black;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0.5rem;
  }

  .box-shadow {
    /* box-shadow: 0 0 10px 6px white inset; */
  }

  .box-shadow img {
    position: relative;
    z-index: -1;
  }
}

  /* .card.image-full::before,
.card.image-full::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @apply bg-accent;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.card.image-full:hover::before,
.card.image-full:hover::after {
  opacity: 0.7;
} */