@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 0% 95%;
    --foreground: 36 0% 0%;
    --card: 36 0% 90%;
    --card-foreground: 36 0% 10%;
    --popover: 36 0% 95%;
    --popover-foreground: 36 95% 0%;
    --primary: 36 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 36 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -2 10% 85%;
    --muted-foreground: 36 0% 35%;
    --accent: -2 10% 80%;
    --accent-foreground: 36 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 36 0% 90%;
    --border: 36 20% 50%;
    --input: 36 20% 18%;
    --ring: 36 100% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 36 10% 5%;
    --foreground: 36 0% 90%;
    --card: 36 0% 0%;
    --card-foreground: 36 0% 90%;
    --popover: 36 10% 5%;
    --popover-foreground: 36 0% 90%;
    --primary: 36 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 36 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -2 10% 15%;
    --muted-foreground: 36 0% 60%;
    --accent: -2 10% 15%;
    --accent-foreground: 36 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 36 0% 90%;
    --border: 36 20% 18%;
    --input: 36 20% 18%;
    --ring: 36 100% 50%;
    --radius: 0.5rem;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-gradient {
    background: var(--gradient);
  }

  .character_name {
    /* -webkit-text-stroke: 0.2px hsl(var(--primary)); */
    /* -webkit-text-stroke-width: 2px; */
    /* -webkit-text-stroke-color: black; */
  }

  .card-new::before,
  .card-new::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* @apply bg-gradient-to-r from-primary to-secondary; */
    /* @apply bg-accent; */
    background-color: black;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0.5rem;
  }

  .box-shadow {
    /* box-shadow: 0 0 10px 6px white inset; */
  }

  .box-shadow img {
    position: relative;
    z-index: -1;
  }

  .paused {
    animation-play-state: paused;
  }
  .text-stroke-custom {
    @apply text-foreground;
    /* @apply text-primary; */
    -webkit-text-stroke: 1px hsl(var(--background));
    text-stroke: 1px hsl(var(--background));
    letter-spacing: 1px;
  }

  .box {
    overflow: hidden;
  }

  @keyframes characterComponent-animation {
    20%,
    100% {
      left: 400px;
      /* background: rgba(255, 255, 255, 0.2); */
    }
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
  }

  @keyframes characterId-animation {
    20%,
    100% {
      left: 1000px;
      /* background: rgba(255, 255, 255, 0.2); */
    }
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
  }

  /* @keyframes characterCarouselZoom-animation {
    20%,
    100% {
      left: 1000px;
    }
    0% {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
  } */

  .box:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.3); */
    background: hsl(var(--foreground) / 20%);
    transform: skewX(-30deg);
    transition: 1s;
  }

  .characterComponent:before {
    left: -400px;
    animation: characterComponent-animation 5s ease-in-out infinite;
  }

  .characterId:before {
    left: -1000px;
    animation: characterId-animation 8s ease-in-out infinite;
  }

  /* .characterCarouselZoom:before{
    left: -1000px;
    animation: characterCarouselZoom-animation 8s ease-in-out infinite;
  } */
}

/* .card.image-full::before,
.card.image-full::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @apply bg-accent;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.card.image-full:hover::before,
.card.image-full:hover::after {
  opacity: 0.7;
} */
